 body {
  margin: 0;
  padding: 0;
 }

 h1 {
  font-size: 2.5rem;
  text-align: start;
  text-decoration: underline;
 }

 h2 {
  text-align: center;
 }

 .social-bar {
  top: 50%;
  position: fixed;
  transform: translateY(-50%);
 }

 .social-bar a {
  display: block;
  text-align: center;
  padding: 13px;
  transition: all 0.5s ease-in-out;
  color: #fff;
 }

 .social-bar a:hover {
  background: #f34105;
 }

 .content {
  margin: 20px 90px;
 }

 .github {
  background: #2d2b2b
 }

 .facebook {
  background: #3d3da4;
 }

 .twitter {
  background: #9086e7;
 }

 .linkedin {
  background: #3327a6;
 }

 .instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
 }

 .discord {
  background: #3840ea;
 }